<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-globe text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Simpanan Wajib</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Simpanan Sukarela</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Konfirmasi Pembayaran Simpanan</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="formFilter">
          <div class="mb-4">
            <div class="row p-t-20" style="padding-left: 1%;">
              <div class="outer" style="margin-right: 2%;">
                  <select name="bulan" id="bulanAnggaran" class="form-control"
                          formControlName="jenisTransaksi">
                          <option value="SIMPANAN WAJIB" selected>Simpanan Wajib</option>
                          <option value="SIMPANAN SUKA RELA">Simpanan Suka Rela</option>
                  </select>
              </div>
              <div class="outer" style="margin-right: 2%;">
                <input class="form-control" type="text" placeholder="NIP"
                       formControlName="nip">
              </div>
            </div>
              <button class="btn btn-success" (click)="refresh()">Search</button>
          </div>
        </form>
        <div class="table-responsive">
          <table class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

